.sign-up-container {
    padding: 150px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .sign-up-form .form-group {
    margin-bottom: 15px;
  }
  
  .sign-up-form .error {
    color: red;
    font-size: 12px;
  }
  